@if (_tracks.Count == 0)
{
    <p>Loading Content.....</p>
    return;
}
Results Of Sample Is
<div>
    @foreach (var item in _tracks)
    {
    <div>
        @*@item.Date @item.Method @item.Description*@
        @item.Output
    </div>
	}
</div>